{% extends "base.html" %}

{% block page_content %}
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>Login with OAuth 2.0 </h1>
    </div>
</div>

<div id="result"></div>

<!--NEW GOOGLE SIGN IN BUTTON -->
<h2>There's a new Google Sign-In Option!!</h2>
<button class="g-signin2" id="signinButton">Sign in with Google</button>
<!-- Add where you want your sign-in button to render -->
<!-- Use an image that follows the branding guidelines in a real app -->
</div>
{% endblock %}


